@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&family=Comic+Neue&family=Dancing+Script:wght@700&family=Lora:wght@600&family=Merienda:wght@700&family=Montserrat:wght@400;600;700&family=Ubuntu&family=PT+Serif&family=Play&family=Roboto&family=Yeseva+One&display=swap');


@font-face {
    font-family: 'MaisonNeueExtended-Bold';
    src: url('MaisonNeueExtended-Bold.woff2') format('woff2');
}
body {
    margin: 0px;
    overflow-x: hidden;
    font-family: 'Montserrat',sans-serif !important;
    background: #572d7a;
    /* background: #5d5799; */
    /* color: #fafafa; */
    color: #bbb;
    p {
      font-size: 16px;
      line-height: inherit;
      margin-bottom: 0;
      // font-family: 'Ubuntu', sans-serif;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      @media screen and (max-width:766px) {
        font-size: 14px;
      }
    }
  
}

.opening {
  background: #572d7a;
  position: relative;
  // background-image: url("../img/testetst1") !important;
  z-index: 93;
  background-attachment: fixed;
  background-size: contain;
  padding: 16px 0;
  
  p {
    margin-bottom: 16px;
  }
}
// .o-3 {
//   opacity: .2 !important;
// }
.banner {
  height: 100vh;
  position: relative;
  z-index: 99;
  @media screen and (max-width:766px) {
    height: 60vh;
  }
  &::after {
    content: "";
    position: absolute;
    height: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, #572d7a, transparent);
  }
  .image {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  h1,h2 {
    position: absolute;
    left: 50%;
    top: 5%;
    font-family: 'Amaranth' !important;
    font-weight: 700;
    color: white;
    @media screen and (max-width:766px) {
      left: 3%;
    }
    &.the-title {
      font-size: 72px;
      text-shadow: 1px 1px #6e1e46;
      color: #bbb;
      @media screen and (max-width:766px) {
        font-size: 48px;
      }
    }
}
}

h3 {
  font-family: 'Montserrat' !important;
  font-weight: 600;
}

.theme-song {
  // display: none;
  position: relative;
  z-index: 93;
  background: #572d7a;
  background-image: url('../img/bg-song.webp');
  // background-image: url("../img/testetst1.png");
  background-attachment: fixed;
  
  .card {
    // border: 1px solid;
    padding: 32px;
    display: block;
    position: relative;
    border-radius: 8px;
    height: 270px;
    background: linear-gradient(45deg, #260032, transparent);
    margin-bottom: 16px;
    &:hover {
      .fontawesome-song {
        opacity: .8;
      }  
    }
    .fontawesome-song {
      position: absolute;
      // bottom: 8px;
      // left: 50%;
      // left: 8px;
      left: 0;
      transition: .3s;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: .3;
      z-index: 1;
      img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        object-fit: cover;
      }

      @media screen and (max-width:766px) {
        opacity: .3;
      }
      i {
        font-size: 5rem;
      }
    }
    @media screen and (max-width:766px) {
      padding: 8px;
    }
    .singer {
      @media screen and (max-width:766px) {
        font-size: 12px;
      }
    }
    .theme-all {
      position: absolute;
      left: 8px;
      bottom: 8px;
      z-index: 44;
    }
    .title_ {
      font-size: 24px;
      color: white;
      line-height: 30px;
      // height: 90px;
      @media screen and (max-width:766px) {
        font-size: 18px;
      }
    }
  }
}

.scroll-year {
  cursor: pointer;
  // width: 32px;
  // height: 32px;
  // border-radius: 50%;
  // background: darkred;
  color: white;
  margin: 0 auto;
  display: block;
  text-align: center;
  i {
    font-size: 32px;
  }
}

.logo-detik {
  position: absolute;
  left: 12px;
  top: 12px;
  z-index: 999;
  width: 90px;
  @media screen and (max-width: 766px) {
    top: 12px;
    left: 50%;
    width: 80px;
    transform: translate(-50%, 0px);
  }
}
.footer {
  z-index: 99 !important;
}

.share_icon > a {
  padding: 5px 4px !important;
  i {
    font-size: 20px !important;
    line-height: 25px !important;
  }
  @media screen and (max-width: 766px) {
    padding: 0 !important;
  }
}

#share {
  z-index: 999 !important;
}
  
.text-center {
  text-align: center;
}

.paragraph {
  padding: 32px 0;

}
  
  h2 {
    font-weight: 700;
    font-size: 2rem;
    padding: 0;
    margin: 4px 0;
    font-family: 'Amaranth' !important;
  }
  .font {
    &-small {
      font-size: 16px;
      line-height: 18px;
    }
    &-medium {
      font-size: 18px;
    }
  }
  p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: 0.0225rem;
    // font-family: 'Play';
  }
  small {
    font-family: 'Merienda';
  }
  
  header, footer {
    height: 50vh;
    background-color: gray;
    text-align: center;
    padding: 60px;
  }
  .wrap-detik {
    width: 860px;
    margin: 0 auto;
    display: block;
    position: relative;
    z-index: 120;
    @media screen and (min-width:1500px) {
      width: 1080px;
    }
    @media screen and(max-width:766px) {
        width: auto;
        padding: 0 16px;
    }
  }
  .card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 93;
    padding: 60px;
    @media screen and (max-width:766px) {
        padding: 8px;
        display: block;
        overflow-x: hidden;
    }
  }
  
  .card--reverse {
    flex-direction: row-reverse;
  }
  
  .card__img-holder {
    width: 50vw;
    // @media screen and (min-width:1400px) {
    //   width: 40vw;
    // }
    @media screen and (min-width:1900px) {
      width: 40vw;
    }
    height: 50vh;
    // height: auto;
    cursor: pointer;
    // background-color: #fafafa;
    @media screen and (max-width:766px) {
      width: 100%;
      // height: 50vh;
    }
    
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    
    }

  }
  
  .card__text {
    width: 50vw;
    padding: 16px;
    position: relative;
    z-index: 67;
      @media screen and (max-width:766px) {
        width: auto;
      }
  }
  .cek-width {
    background: #572d7a;
    position: relative;
    // z-index: 93;

  }
  .h--timeline {
    background: #572d7a;
    position: relative;
    z-index: 93;
    background-image: url("../img/testetst1.png") !important;
    background-attachment: fixed;
    background-size: contain;
  }
  .maskot {
    &__image {
      .tahun {
        position: absolute;
        top: 0;
        z-index: 12;
        left: 0%;
       
        color: white;
        text-align: center;
        padding: 8px;
        // transform: translate(0, -50%);
        width: fit-content;
        background: rgba(255, 255, 255, .1);
        border-bottom: 2px solid rgba(255,255,255,.3);
      }
      .namenya {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        // background: linear-gradient(to top, black, transparent);
        color: white;
        padding: 8px;
        height: 50px;
        font-weight: 400;
        font-family: 'Amaranth', sans-serif;
        .year {
          float: left;
          bottom: 12px;
          position: absolute;
        }
        .namex {
          float: right;
          bottom: 12px;
          right: 8px;
          position: absolute;
        }
        .clear{
          clear: both;
        }
      }
      // border: 1px solid gray;
      height: 40vh;
      padding: 8px;
      background: rgba($color: white, $alpha: .1);
      border-radius: 4px;
      border-bottom: 2px solid rgba($color: white, $alpha: .5);
      // background: linear-gradient(to bottom, #fafafa, white);
      position: relative;
      z-index: 99;
      transition: .3s;
      &:hover {
        background: rgba($color: white, $alpha: .3);
      }
      &::before {
        content: "";
        position: absolute;
        left: 40%;
        right: 0;
        top: 50%;
        z-index: 1;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: rgba(255,255,255,.12);
        @media screen and (min-width:1440px) {
          width: 124px;
          height: 124px;  
        }
        @media screen and (min-width:1990px) {
          width: 150px;
          height: 150px;  
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        position: relative;
        z-index: 3;
      }
    }
  }

/* the slides */
.slick-slide {
    margin: 0 8px;
}
#card1 {
  .card__img-holder {
    position: relative;
  }
  @keyframes MoveUpDownx {
    0%, 100% {
        bottom: 5%;
    }
    50% {
        bottom: 6%;
    }
  }
  .sliderx {
    &__help {
      position: absolute;
      bottom: 5%;
      background: rgba($color: white, $alpha: .2);
      left: 20%;
      padding: 4px;
      animation: MoveUpDownx .5s linear infinite;
      font-size: 10px;
      color: white;
      @media screen and (max-width:766px) {
        left: 35%;
      }
      &::before {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: auto;
        right: 31px;
        top: -24px;
        border: 12px solid;
        border-color: transparent rgba(255,255,255,.2) transparent transparent;
        transform: rotate(90deg);
    }
    }
  }
  
}

/* the parent */
.slick-list {
    margin: 0 -8px;
}

section {
  overflow-x: hidden;
}

body {
  .slick {
    &-next,&-prev{
      top: initial;
      bottom: -12%;
      // z-index: 80;
      @media screen and (max-width:766px) {
        bottom: -15%;
      }
      &::before {
        font-family: 'fontAwesome' !important;
        opacity: 1;
        color: white;
        font-size: 42px;
      }
    }
    &-next {
      right: initial;
      left: 82px;
      &::before {
        content: "\f105";
      }
    }
    &-prev {
      left: 0px;
      &::before {
        content: "\f104";
      }
    }
  }
}



.o-hidden {
  // overflow-x: hidden;
  position: relative;
  z-index: 91;
}
.moments{
  position: relative;
  background-image: url("../img/testetst1.png") !important;
  z-index: 88;
  background: #617fbf;
  overflow-x: clip;
  background-size: contain;
  background-attachment: fixed;
  &::before {
    content: "";
    position: absolute;
    top: -24px;
    left: -8px;
    right: 0;
    width: 100%;
    height: 80px;
    background: #617fbf;
    transform: skew(4deg, 2deg);
    @media screen and (max-width:766px) {
      
      top: -12px;
      left: 0;
      
    }
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -45px;
    left: 0;
    right: 0px;
    width: 102%;
    height: 92px;
    background: #617fbf;
    transform: skew(4deg, 4deg);
    @media screen and (min-width:1400px) {
      width: 140%;
    }
    @media screen and(max-width:766px) {
      bottom: -12px;
      right: 0;
      width: 100%;
      height: 32px;
    }
  }
  
  h2 {
    font-size: 52px;
    line-height: 52px;
    margin-bottom: 16px;
    @media screen and (max-width:766px) {
      font-size: 32px;
      line-height: 32px;
      margin-bottom: 8px;
    }
  }
  .card__text {
    width: 50%;
    padding: 16px;
    position: relative;
    h2 {
      color: white;
      @media screen and (min-width:1900px) {
        font-size: 4em;
        line-height: 82px;
      }
    }
    h3 {
      font-size: 16px;
      color: #fcfcfc !important;
      @media screen and (min-width:1900px) {
        font-size: 2em;
        margin: 16px 0;
      }
    }
    h3,p {
      position: relative;
      z-index: 99;
      color: #d2cdff;
    }
    p {
      @media screen and (min-width:1900px) {
        font-size: 1.2em;
        line-height: 42px;
      }
    }
    &::before {
      content: "";
      width: 240px;
      height: 240px;
      border-radius: 50%;
      background: black;
      opacity: .1;
      margin: 0 auto;
      display: block;
      position: absolute;
      left: 30%;
      top: 20%;
    }
      @media screen and (max-width:766px) {
        width: auto;
      }
  }
  &__help {
    width: 100%;
    height: 300px;
    position: absolute;
    left: 0;
    right: 0;
    top: -150px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  // background: red;
  .helping{
    position: absolute;
    bottom: 0%;
    left: 0;
    right: 0;
    height: 200px;
    opacity: .1;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .card {
    &__img-holder {
      background: transparent;
      height: 70vh;
    }
  }
}

#card1 {
  .card__img-holder {
    @media screen and (max-width:766px) {
      height: 50vh;
    }
  }
}

.piala-dunia-qatar {
  overflow-x: clip;
  position: relative;
  // z-index: 93;
  background: #572d7a;
  // background: #617fbf;;
  &__img {
    position: absolute;
    left: 0;
    top: 0;
    opacity: .05;
    // width: ;
  }
  .pembukaan {
    position: relative;
    z-index: 104;
    // background-image: url('../img/testetst1.png');
    // background-size: contain;
    // background: #5454d4;
    // background-image: url('../img/gurun.jpg');
  // background-image: url("../img/testetst1.png");
  // background-attachment: fixed;
  }
}
.moments,.peserta {
  h2 {
    // color: darkred;
  }
  .card {
    @media screen and (max-width:766px) {
      display: block;
    }
    &__img-holder {
      // background: darkred;
      @media screen and (max-width:766px) {
        width: 100%;
        height: 240px;
      }
    }
    &__text {
      @media screen and (max-width:766px) {
        width: auto;
      }
    }
  }
  .image {
    height: 100%;
  }
}

.scroll-totop {
  position: fixed;
  right: 8px;
  width: 36px;
  z-index: 998;
  height: 36px;
  border-radius: 50%;
  background: darkred;
  color: white;
  cursor: pointer;
  bottom: 8px;
  text-align: center;
  i {
    font-size: 32px;
  }
  @media screen and (max-width:766px) {
    bottom: 62px;
  }
}
.fixed-bgx {
  // position: fixed;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  opacity: .08;
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.lala-bgx{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  // z-index: 1;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.top-skorer {
  position: relative;
  overflow-x: clip;
  margin-top: 52px;
  background: #572d7a;
  // background: url('../img/topskor.png');
  z-index: 64;
  .bgx{
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    right: 0;
    // top: 0;
    opacity: .2;
    z-index: 1;
    bottom: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .card__text {
    position: relative;
  }
  h2 {
    font-size: 2.5rem;
    @media screen and (max-width:766px) {
      font-size: 2rem;
    }
    @media screen and (min-width:1900px) {
      font-size: 4rem;
    }
  }
  p {
    @media screen and (min-width:1900px) {
      font-size: 1.5rem;
    }
  }
  // &::after {
  //   content: '';
  //   height: 80px;
  //   background: linear-gradient(to top, #572d7a, #343232);
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  // }
  &__help {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

  }
  .card__img-holder {
    // border: 1px solid;
    position: relative;
    height: 77vh;
    @media screen and (max-width:766px) {
      height: 50vh;
    }
    .brush {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 7;
      height: 100%;
      width: 30px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .image {
      width: 100%;
      position: absolute;
      // height: 320px;
      // height: 120%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      @media screen and (max-width:766px) {
        height: 100%;
        top: 4px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        @media screen and (max-width:766px) {
          object-fit: contain;
        }
      }
    }
  }
}

.stadion {
  overflow-x: clip;
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: white;
    background: transparent;
    border: 1px solid white;
    // border-bottom: 1px solid transparent;
    font-weight: bold;
  }
  .tab-content {
    // border: 1px solid rgba(white,.3);
  }
  .nav-tabs .nav-link {
    color: white;
    border-bottom: 1px solid transparent;
    border-radius: 0;
  }
  .nav-tabs {
    border-bottom: 1px solid transparent;
  }
  .wraps {
    display: block;
    margin: 0 auto;
    // text-align: center;
    .bagi {
      display: inline-block;
      width: 45%;
      margin: 8px;
      height: 320px;
    }
    .wrapping-all {
      text-align: left;
      margin-top: 8px;
      .labelx {
        margin-bottom: 4px;
        p {
          margin-bottom: 8px;
        }
        .stad {
          color: white;
          &::before {
            content: "Stadion "
          }
        }
      }
    }
  }
  .image {
    width: 100%;
    height: 420px;
    @media screen and (max-width:766px) {
      width: auto;

    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      @media screen and (max-width:766px) {
        object-fit: cover;
      }
    }
  }
}

.group {
  .slick-next,.slick-prev {
    // bottom: initial;
    top: initial;
    z-index: 102;
    @media screen and (max-width:766px) {
      // top: 250px;
    }
  }
  .slick-next {
    right: 0;
    // left: initial;
  }
}

.stadion {
  .wraps {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .stadion-slide {
    .slick-next,.slick-prev {
      bottom: initial;
      top: 30%;
      z-index: 102;
      @media screen and (max-width:766px) {
        top: 250px;
      }
    }
    .slick-next {
      right: 0;
      left: initial;
    }
  }
  
  .card {
    display: inline-block;
    width: 45%;
    color: #000;
    border-radius: 2px;
    background: transparent;
    box-shadow: black;
    padding: 8px;

    &-image {
      position: relative;
      display: block;
      width: 100%;
      padding-top: 70%;
      background: transparent;

      img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.youtube-wrap {
  display: block;
  margin: 0 auto;
  text-align: center;
  .youtube {
    display: inline-block;
    width: 45%;
    position: relative;
    margin: 0 8px;
    @media screen and (max-width:766px) {
      width: 100%;
      display: block;
    }
    .play-group {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 50%;
      cursor: pointer;
      &:hover {
        .play-bg {
          background: purple;
        }
      }
      .play-bg {
        background: #5454d4;
        width: 80px;
        height: 80px;
        transition: .3s;
        border-radius: 50%;
        
      }
      img {
        width: auto;
        position: absolute;
        top: 28%;
        left: 40%;
        height: auto;
        object-fit: contain;
        @media screen and (max-width:766px) {
          top: 40%;
        }
      }
    }
    iframe,img {
      width: 100%;
      height: 320px;
      object-fit: cover;
      margin: 8px auto;
      display: block;
      @media screen and (max-width:766px) {
        width: 100%;
        margin: 0 auto 24px;
      }
    }
  }
}

body {
  .modal-content {
    // background: transparent;
    border-color: transparent;
    .contentx {
      margin: 0 auto;
      display: block;
      text-align: center;
      h2,p,h3,div {
        color: #260032;
      }
      
    }
  }
}

.modal-youtube {
  margin: 0 auto;
  width: 860px;
  height: 430px;
  @media screen and (max-width:766px) {
    width: auto;
  }
  iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-color: transparent;
    @media screen and (max-width:766px) {
      // height: 320px;
    }
  }
}

.close__ {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  display: block;
}

.modal-footer {
  border-top: 1px solid transparent !important;
}
.juara-dunia {
  
}

.jadwal-pertandingan {
  overflow-x: clip;
}

.profil-negara {
  padding: 32px;
  overflow-x: clip;
  @media screen and (max-width:766px) {
    padding: 32px 8px;
  }
  .slick-next::before, .slick-prev::before{
    font-size: 24px;
  }
  .wrap-detik {
    @media screen and (max-width:766px) {
      padding: 0 4px;
    }
  }
  .group {
    display: block;
    margin: 42px 0 72px;
    &-image {
      display: inline-block;
      width: 45%;
      margin: 0 4px;
      vertical-align: top;
      .image {
        height: 280px;
        width: 100%;
        position: relative;
        border-radius: 8px;
        &.maroon {
          background: rgb(235, 158, 158);

        }
        &.blue {
          background: rgb(195, 195, 255);
        }
        &.green {
          background: rgb(195, 255, 195);
        }
        &.yellow {
          background: rgb(255, 255, 179);
        }
        &:hover {
          .image__help {
            opacity: 1;
          }
        }
        @media screen and (min-width:1400px) {
          height: 350px;
        }
        &__help {
          position: absolute;
          transition: .3s;
          left: 0;
          top: 0;
          opacity: 0;
          border-radius: 8px;
          right: 0;
          bottom: 0;
          text-align: center;
          background: rgba($color: #000000, $alpha: .8);
          color: white;
          .julukan {
            font-size: 36px;
            margin-top: 24px;
            font-weight: bold;
            @media screen and (max-width:766px) {
              font-size: 28px;
              // margin-top: 24px;
              // line-height: 38px;
              line-height: 28px;
              font-weight: bold;
              margin-bottom: 16px;
              // font-weight: bold;
            }
          }
          .captain,.pelatih {
            @media screen and (max-width:766px) {
              font-size: 14px;
            }
          }

        }
        .name-negara {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 8px;
          height: 50px;
          text-align: right;
          // background: linear-gradient(to top, black, rgba(black,.5));
          div {
            line-height: 66px;
            font-style: italic;
            /* background: white; */
            font-size: 16px;
            font-weight: bold;
            &.red {
              color: #570000;
            }
            &.black {
              color: black;
            }
            &.white {
              color: white;
            }
          }
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 8px;
          @media screen and (max-width:766px) {
            object-fit: cover;
          }
        }
      }
    }
    &-country {
      display: inline-block;
      width: 45%;
      margin: 0 4px;
      vertical-align: top;
      tr {
        &:nth-of-type(odd) {
          background: rgba($color: white, $alpha: .1);
        }
      }
      td {
        color: white;
        border-top-color: transparent;
        line-height: 42px;
        @media screen and (max-width:766px) {
          line-height: initial;
          font-size: 12px;
        }
        &:nth-child(1) {
          width: 15%;
        }
        &:nth-child(2) {
          width: 15%;
        }
        &:nth-child(3) {
          width: 70%;
        }
        img {
          width: 32px;
          height: 32px;
          max-width: initial;
        }
      }
    }
  }
}
#nav {
  background: transparent !important;
  z-index: 120 !important;
}
#search {
  z-index: 121 !important;
}
.share_icon {
  color: white !important;
}
.titlesub {
  // background: #aa278d;
  padding: 16px;
  position: relative;
  z-index: 99;
  // background: linear-gradient(to right, #b0ebeb 0%, #aba9ad 100%);
  background: #efbd2d;
  width: fit-content;
  margin: 0 auto;
  top: 16px;
  @media screen and (max-width:766px) {
    width: 80%;
  }
  h2 {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    color: #572d7a;
    display: block;
    z-index: 99;
    font-size: 2.5rem;
    font-style: italic;
    @media screen and (max-width:766px) {
      font-size: 2rem;
    }
    &::before {
      content: "";
      position: absolute;
      left: -96px;
      width: 80px;
      height: 2px;
      // background: linear-gradient(to right, #b0ebeb 0%, #aba9ad 100%);
      background: #efbd2d;
      top: 50%;
    }

    &::after {
      content: "";
      position: absolute;
      right: -96px;
      width: 80px;
      height: 2px;
      // background: linear-gradient(to right, #b0ebeb 0%, #aba9ad 100%);
      background: #efbd2d;
      top: 50%;
    }

  }
}
@keyframes roll { 
  0% {left:45%; -webkit-transform: rotate(-360deg);}
  50% {left:55%; -webkit-transform: rotate(360deg);}
  100% {left:45%; -webkit-transform: rotate(-360deg);}
}
.bolalob {
  display: block;
  text-align: center;
  margin: 0 auto;
  position: relative;
  
  &__img {
    // display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0px;
    position: absolute;
    transform: translate(-50%,0);
    left: 45%;
    filter: grayscale(100%);
    animation:roll 4.5s infinite;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__img2 {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0px;
    // position: absolute;
    // transform: translate(-50%,0);
    // left: 50%;
    filter: grayscale(100%);
    // animation:roll 4.5s infinite;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.juara-dunia {
  overflow-x: clip;
  position: relative;
  background: #572d7a;
  // background: #617fbf;
  // background-image: url('../img/icons.webp') !important;
  // background-attachment: fixed;
  z-index: 93;
  // display: none;
  .negara {
    width: 240px; height:300px; display: inline-block;
    position: relative;
    
    .tahun-juara {
      position: absolute;
      overflow: hidden;
      bottom: 6%;
      left: 4px;
      line-height: 32px;
      right: 3px;
      height: 32px;
      // background: linear-gradient(to top, #000, transparent);
      // background: #000;
      background: rgba(#572d7a,.8);
      color: #fff;
      // border-radius: 0 0 15px 15px;
      font-size: 14px;
      text-align: right;
      padding-right: 12px;
      // text-shadow: 1px 1px black;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.profil-negara {
  overflow-x: clip;
}

.theme-song {
  overflow-x: clip;
}

.credit {
  overflow-x: clip;
  // display: none !important;
  padding: 32px 0;
  background: #37003c;
  position: relative;
  z-index: 93;
  &::before {
    position: absolute;
      top: -25px;
      left: 0;
      content: "";
      right: 0;
      height: 50px;
      background: #37003c;
      transform: rotate(2deg);
    @media screen and (max-width:766px) {
      top: -8px;
      height: 30px;
    }
    @media screen and (min-width:1900px) {
      top: -30px;
      height: 70px;
    }
    

  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // border-top: 5px solid #008f6b !important;
  // background: #c3c4c5;
  // background: #3a2c11;
  // background: #30250e;
  text-align: center;
  margin: 0 auto;
  // background: #f4faff;
  display: block;

  .wrapings {
    display: block;
    width: 50%;
    margin: 0 auto 4px;
    // position: relative;

    @media screen and (max-width:766px) {
      width: 100%;
    }
  }

  // #c6c4c4
  .name,
  .jobdesc {
    color: #fcfcfc;
    display: inline-block;
    vertical-align: top;

    @media screen and (max-width: 766px) {
      font-size: 12px !important;
    }
  }
  .jobdesc {
    text-align: right;
    width: 45%;
    font-size: 14px;
    margin-right: 16px;
    vertical-align: middle;
  }
  .name {
    text-align: left;
    width: 45%;
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;

  }
  .containers {
    margin: 0 auto;
    display: block;
    position: relative;
    z-index: 80;
    // text-align: center;
  }
}

.last-show {
  overflow-x: clip;
  padding-bottom: 64px;
  position: relative;
  z-index: 93;
  &__all {
    display: block;
    .image {
      // width: 320px;
      position: relative;
      width: 30%;
      .to-left {
        &::before {
          content: "";
          position: absolute;
          left: 20px;
          height: 1px;
          background: #a5a5a5;
          top: 42px;
          width: 35%;
          @media screen and (max-width:766px) {
            content: "";
            position: absolute;
            right: 38px;
            border: 1px solid;
            height: 41px;
            left: initial;
            background: transparent;
            top: -12px;
            width: 28%;
            border-top: 1px solid transparent;
            border-left: 1px solid transparent;
          }
        }
        &::after {
          content: "";
          position: absolute;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          left: 16px;
          top: 36px;
          background: white;
          @media screen and (max-width:766px) {
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            left: initial;
            border-radius: 50%;
            right: 33px;
            /* border: 1px solid; */
            top: -12px;
            background: #fff;
          }
        }
      }
      .to-right {
        &::before {
          content: "";
          position: absolute;
          right: 20px;
          height: 1px;
          background: #a5a5a5;
          top: 135px;
          width: 35%;
          @media screen and (max-width:766px) {
            content: "";
            position: absolute;
            right: initial;
            left: 46px;
            top: initial;
            border: 1px solid;
            height: 45px;
            background: transparent;
            bottom: 70px;
            width: 25%;
            border-bottom: 1px solid transparent;
            border-right: 1px solid transparent;
          }
        }
        &::after {
          content: "";
          position: absolute;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          right: 16px;
          top: 129px;
          background: white;
          @media screen and (max-width:766px) {
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            right: initial;
            top: initial;
            border-radius: 50%;
            left: 41px;
            bottom: 65px;
            background: #fff;
          }
        }
      }
      @media screen and (max-width:766px) {
        width: 100%;
        margin: 8px 0;
      }
      display: inline-block;
      height: 420px;
      // float: left;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .prestasi {
      width: 30%;
      .pl-1,.pl-2,.pl-3,.pl-4,.pl-5 {
        @media screen and (max-width:766px) {
          padding-left: 0 !important;
        }
      }
      @media screen and (max-width:766px) {
        width: 100%;
        margin: 8px 0;
      }
      .title {
        font-size: 16px;
        color: white;
        background: #343232;
        padding: 4px 8px;
        width: fit-content;
        margin-bottom: 8px;
      }
      vertical-align: top;
      display: inline-block;
      font-size: 14px;
    }
    .clear {
      clear: both;
    }
  }
}

.cek-width {
  margin: 0 auto;
  display: block;
  @media screen and (min-width:1400px) {
    width: 1280px;
    
  }
  @media screen and (max-width:766px) {
    width: auto;
  }
}

.cardx {
  background: rgba(white,.05);
  padding: 8px;
  border-left: 3px solid rgba(white,.5);
  // transform: rotate(2deg);
  @media screen and (max-width:766px) {
    padding: 4px;
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      padding: 4px 8px;
      list-style: none;
      font-size: 1rem;
      border-bottom: 1px solid rgba(white,.2);
      @media screen and (min-width:1440px) {
        font-size: 1.5em;
      }
      &:last-child {
        border-bottom: 1px solid transparent;
      }
      @media screen and (max-width:766px) {
        font-size: 12px;
      }
    }
  }
}

.color{
  &-white {
    color: white;
  }
}

.jejak {
  overflow-x: clip;
  background: #572d7a;
  position: relative;
  z-index: 93;
  // background-image: url('../img/icons.webp') !important;
  // background-attachment: fixed;
  padding: 16px 0;
  .kotakan {
    background: linear-gradient(to top, rgba(255,255,255,.12),rgba(255,255,255,.05));
    padding: 16px;
    margin-bottom: 8px;
    border-radius: 8px;
  }
  &:after {
    position: absolute;
    bottom: -24px;
    left: -8px;
    right: 0;
    width: 100%;
    height: 80px;
    content: "";
    background: #572d7a;
    transform: skew(4deg, 2deg);
  }
  &:before {
    position: absolute;
    top: -24px;
    left: -8px;
    right: 0;
    width: 100%;
    height: 80px;
    content: "";
    background: #572d7a;
    transform: skew(4deg, 2deg);
  }
  &__img {
    width: 650px;
    height: auto;
    margin: 0 auto 16px;
    display: block;
    @media screen and (max-width:766px) {
      width: auto;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.bungkus {
  // background: linear-gradient(to bottom, rgba(#572d7a,.5), rgba(255, 255, 255, 0.1));
  background: radial-gradient(circle,rgba(#572d7a,.5), rgba(255, 255, 255, 0.1));
  border-radius: 8px;
  margin-bottom: 8px;
  padding: 16px;
  color: #c5c5c5;
  p {
    margin-bottom: 0;
  }
}

.data_{
  table {
    border-collapse:collapse;
    margin-top: 16px;
    tr {
      border-bottom: 1px solid rgba($color: white, $alpha: .2);
      &:last-child {
        border-bottom: 1px solid transparent;
      }
    }
  }
  // border: 1px solid rgba($color: white, $alpha: .2);
  td {
    // border-bottom: 1px solid rgba($color: white, $alpha: .2);
    border-top: 1px solid transparent;
    padding: .25rem .75rem;
    color: #bbb;
    // background: linear-gradient(to top, rgba(white,.2), rgba(white,.4));
    &:last-child{
      color: white;
      // border-bottom: 1px solid transparent;
    }
    p {
      color: white;
    }
  }
}