@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&family=Comic+Neue&family=Dancing+Script:wght@700&family=Lora:wght@600&family=Merienda:wght@700&family=Montserrat:wght@400;700&family=Ubuntu&family=PT+Serif&family=Play&family=Roboto&family=Yeseva+One&display=swap');


@font-face {
    font-family: 'MaisonNeueExtended-Bold';
    src: url('MaisonNeueExtended-Bold.woff2') format('woff2');
}
body {
    margin: 0px;
    overflow-x: hidden;
    font-family: 'Merienda', sans-serif;
    p {
      font-size: 18px;
      font-family: 'Ubuntu', sans-serif;
    }
  
}

.banner {
  height: 100vh;
  position: relative;
  .image {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  h1 {
    position: absolute;
    left: 50%;
    top: 5%;
    font-family: 'Amaranth';
    font-weight: 700;
    @media screen and (max-width:766px) {
      left: 3%;
    }
    &.the-title {
      font-size: 42px;
      text-shadow: 1px 1px white;
    }
}
}

.scroll-year {
  cursor: pointer;
  // width: 32px;
  // height: 32px;
  // border-radius: 50%;
  // background: darkred;
  color: darkred;
  margin: 0 auto;
  display: block;
  text-align: center;
  i {
    font-size: 32px;
  }
}
  
.text-center {
  text-align: center;
}
  
  
  h2 {
    font-weight: 700;
    font-size: 2rem;
    padding: 0;
    margin: 4px 0;
    font-family: 'Amaranth';
  }
  .font {
    &-small {
      font-size: 16px;
      line-height: 18px;
    }
    &-medium {
      font-size: 18px;
    }
  }
  p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: 0.0225rem;
    // font-family: 'Play';
  }
  small {
    font-family: 'Merienda';
  }
  
  header, footer {
    height: 50vh;
    background-color: gray;
    text-align: center;
    padding: 60px;
  }
  .wrap-detik {
    width: 860px;
    margin: 0 auto;
    display: block;
    @media screen and(max-width:766px) {
        width: auto;
        padding: 0 16px;
    }
  }
  .card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px;
    @media screen and (max-width:766px) {
        padding: 8px;
        display: block;
        overflow-x: hidden;
    }
  }
  
  .card--reverse {
    flex-direction: row-reverse;
  }
  
  .card__img-holder {
    width: 50vw;
    height: 50vh;
    cursor: pointer;
    background-color: #fafafa;
    @media screen and (max-width:766px) {
      width: 100vw;
    }
    
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    
    }

  }
  
  .card__text {
    width: 50vw;
    padding: 16px;
      @media screen and (max-width:766px) {
        width: auto;
      }
  }

  .maskot {
    
    &__image {
      .tahun {
        position: absolute;
        top: 0;
        z-index: 12;
        left: 0%;
        color: white;
        text-align: center;
        padding: 8px;
        // transform: translate(0, -50%);
        width: fit-content;
      }
      .namenya {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        background: linear-gradient(to top, black, transparent);
        color: white;
        padding: 8px;
        height: 50px;
        font-weight: 400;
        font-family: 'Amaranth', sans-serif;
        .year {
          float: left;
          bottom: 12px;
          position: absolute;
        }
        .namex {
          float: right;
          bottom: 12px;
          right: 8px;
          position: absolute;
        }
        .clear{
          clear: both;
        }
      }
      // border: 1px solid gray;
      height: 40vh;
      padding: 8px;
      // background: linear-gradient(to bottom, #fafafa, white);
      position: relative;
      z-index: 99;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

/* the slides */
.slick-slide {
    margin: 0 8px;
}

/* the parent */
.slick-list {
    margin: 0 -8px;
}

body {
  .slick {
    &-next,&-prev{
      top: initial;
      bottom: -12%;
      // z-index: 80;
      @media screen and (max-width:766px) {
        bottom: -15%;
      }
      &::before {
        font-family: 'fontAwesome' !important;
        opacity: 1;
        color: darkred;
        font-size: 42px;
      }
    }
    &-next {
      right: initial;
      left: 82px;
      &::before {
        content: "\f105";
      }
    }
    &-prev {
      left: 0px;
      &::before {
        content: "\f104";
      }
    }
  }
}

.moments{
  .card {
    &__img-holder {
      background: white !important;
    }
  }
}
.moments,.peserta {
  h2 {
    // color: darkred;
  }
  .card {
    @media screen and (max-width:766px) {
      display: block;
    }
    &__img-holder {
      background: darkred;
      @media screen and (max-width:766px) {
        width: 100%;
        height: 240px;
      }
    }
    &__text {
      @media screen and (max-width:766px) {
        width: auto;
      }
    }
  }
  .image {
    height: 100%;
  }
}

.scroll-totop {
  position: fixed;
  right: 8px;
  width: 36px;
  z-index: 99;
  height: 36px;
  border-radius: 50%;
  background: darkred;
  color: white;
  cursor: pointer;
  bottom: 8px;
  text-align: center;
  i {
    font-size: 32px;
  }
  @media screen and (max-width:766px) {
    bottom: 62px;
  }
}
.top-skorer {
  .card__img-holder {
    // border: 1px solid;
    position: relative;
    .image {
      width: 100%;
      position: absolute;
      // height: 320px;
      height: 120%;
      top: -20%;
      left: 0;
      bottom: 0;
      right: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

.stadion {
  .wraps {
    display: block;
    margin: 0 auto;
    // text-align: center;
    .bagi {
      display: inline-block;
      width: 45%;
      margin: 8px;
      height: 320px;
    }
  }
  .image {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.stadion {
  .wraps {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .card {
    display: inline-block;
    width: 45%;
    color: #000;
    border-radius: 2px;
    background: white;
    box-shadow: black;
    padding: 8px;

    &-image {
      position: relative;
      display: block;
      width: 100%;
      padding-top: 70%;
      background: white;

      img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}